*{
    margin: 0;
    font-family: Work Sans ;
}
.head{
    text-align: left;
    margin: 50px;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 76px;
text-align: left;
}

nav li{
    list-style: none;
    display: flex;
}
 .head-description{
    width: 494px;
    height: 78px;
    top: 450px;
    left: 876px;
 }
 .primary-btn{
    color: #FFFFFF;
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;


 }
 .header{
    background-image: url("images/banner/banner1.png");
    background-repeat: no-repeat;
    width: 1600px;
    height: 808px;
    top: 808px;
    left: 1600px;
   background-size: 1600px 600px;
 }
 /* header and nav style */
 nav{

 }
 .center-image{
    width: 569px;
height: 723.3px;
left: 206px;
top: 939px;
 }
 
 .second-header{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
width: 288px;
height: 94px;
left: 862px;
top: 1178px;
text-align: center;

 }
 .head-description{
    width: 416px;
height: 104px;
left: 862px;
top: 1296px;
font-style: normal;
font-weight: 400;
font-size: 16px;

 }
div span{
color: #16D887;
left: 16.67%;
right: 16.67%;
top: 25%;
bottom: 29.17%;


}
div ul li{
    list-style: none;
}
div{
   
}
.center-items{
    display: flex;
 align-items: center;
}

.List-items{
    align-items: center;
    color:blueviolet;
 
}
/* my-plans-styles */
.plans-title{
    text-align: center;
    color: #151414;
    font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
}
/* Plans-containar */
.Plans-containar{
    display: flex;
    justify-content: space-between;
}
footer{
    background-color: #151414;
    width: 1600px;
height: 577px;
left: 0px;
top: 2652.26px;
}
footer div{
    text-color:white
}
.Future-title{
    color:  #F8F8F8;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 30px;
}
.Future-description{
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
width: 485px;
height: 78px;
left: 230px;
top: 2851.26px;


color: #FFFFFF;
}